html {
	--main-p1-color: #040f0f;
	--main-p2-color: #2d3a3a;
	--main-c1-color: #248232;
	--main-c2-color: #2ba84a;
	--main-p3-color: #fcfffc;
	--main-menuFont: #A0A3A0;
	height: 100vh;
}
body {
	background: var(--main-p1-color);
	height: 100vh;
	padding-top: 50px;
	font: 14px 'Roboto', sans-serif;
}
.bodyPaddingReg {
	padding-top: 50px;
}
.bodyPaddingLG {
	padding-top: 102px;
}
.bodyPaddingSM {
	padding-top: 150px;
}
.bodyPaddingSMSearch {
	padding-top: 200px;
}
/*serach bar sliding animation */
.slide-enter {
  	opacity: 0.3;
  	transform:  translateY(-40%);
  	transition: 2s cubic-bezier(0.1,0.7,1.0,0.1);
}
.slide-enter-active {
  	opacity: 1;
  	transform: scale(1) translateY(0%);
  	transition: all 300ms ease-out;
}
.slide-exit {
  	opacity: 1;
  	transform:  translateY(0%);
  	transition: 2s cubic-bezier(0.1,0.7,1.0,0.1);

}
.slide-exit-active {
  	opacity: 0.001;
  	transform: scale(1) translateY(-50%);
  	transition: all 400ms ease-in;
}

/* end search bar sliding animtion*/
.container {
    width: 100%;
    max-width: 800px;
	min-width: 480px;
    white-space: nowrap;
}
.menuFonts {
	color: var(--main-menuFont) !important;
	font-size: 15px;	
}
.itemFonts {
	vertical-align: middle;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
}
/* Menu bar Items*/
#header {
	background: var(--main-p2-color);
	border-radius: 4px 4px 0 0;
}
.menuTitle {
	font-size: 25px;
	color: var(--main-menuFont);
}
.menuSearch:hover {
	color: var(--main-p3-color);
	cursor: pointer;
}
#username {
	font-size: 25px;
	color: var(--main-p3-color);
}
#signin {
	font-size: 20px;
	color: var(--main-p3-color);
	background: var(--main-p2-color);
	border: 1px solid black;
}
#signin:focus {
	color: aqua;
	outline: none;
} 
#ddiTwitter:hover {
	color: #00BFFF;
	font-weight: bold;
}
#ddiTwitter:focus {
	background: #00BFFF;
}
#ddiSignin:hover {
	color: green;
	font-weight: bold;
}
#ddiSignin:focus {
	background: green;
	font-weight: bold;
}
#ddiSignup:hover {
	color: blue;
	font-weight: bold;
}
#ddiSignup:focus {
	background: blue;
	font-weight: bold;	
}
#dropdownMenu {
	background: var(--main-p3-color);
}
#menubar {
	min-width: 480px;
	background: var(--main-p2-color);
}
#searchbar {
	background: var(--main-p2-color);
}
/*end menu bar items */

/* list items */
.item {
	border:1px solid var(--main-c2-color);
	background: var(--main-c1-color);
	font-size: 25px;
	color: var(--main-p3-color);
	height: 50px;
}
.item:hover {
	cursor: pointer;
	border: 1px solid yellow;
}
#itemTitle {
	text-align: left;
}
#itemTitle span {
	margin-left: 5%;
}
#itemNum {
}
#voteCount {
	font-size: 25px;
}
/*end list items */

/* footer */
.footer{
	font-size: 30px;
	background: var(--main-p2-color);
	border-radius: 0 0 4px 4px;
}
#icons {
	color: var(--main-p1-color);
	text-align: right;
	font-size: 30px;
}
#icons a {
	color: inherit;
}

#github:hover {
	color: yellow;
}

#codepen:hover {
	color: yellow;
}
#author {
	text-align: left;
	color: var(--main-p1-color);
	font-size: 20px;
}
/* end footer */

/*Modal Styles*/
.modalHeader {
	position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}


/* end Modal Styles*/