html {
	--main-p1-color: #040f0f;
	--main-p2-color: #2d3a3a;
	--main-c1-color: #248232;
	--main-c2-color: #2ba84a;
	--main-p3-color: #fcfffc;
	height: 100vh;
}

body {
	background: var(--main-p1-color);
	height: 100vh;
	min-width: 500px;
	font: 14px 'Roboto', sans-serif;
}
.footer{
	background: var(--main-p2-color);
	height: 50px;
}
.menuFonts {
	vertical-align: middle;
	text-align: center;
	line-height: 50px;
	font-size: 25px;	
}
.itemFonts {
	vertical-align: middle;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
}
/* Menu bar Items*/
#header {
	background: var(--main-p2-color);
	height: 50px;
	border-radius: 4px 4px 0 0;
}
.menuTitle {
	height: 50px;
	font-size: 25px;
	color: var(--main-p3-color);
}
#username {
	height: 50px;
	font-size: 25px;
	color: var(--main-p3-color);
}
#signin {
	height: 50px;
	font-size: 25px;
	color: var(--main-p3-color);
	background: var(--main-p2-color);
	border: none;
}
#signin:focus {
	color: aqua;
	outline: none;
} 
#ddiTwitter:hover {
	color: #00BFFF;
	font-weight: bold;
}
#ddiTwitter:focus {
	background: #00BFFF;
}
#ddiSignin:hover {
	color: green;
	font-weight: bold;
}
#ddiSignin:focus {
	background: green;
	font-weight: bold;
}
#ddiSignup:hover {
	color: blue;
	font-weight: bold;
}
#ddiSignup:focus {
	background: blue;
	font-weight: bold;	
}
#dropdownMenu {
	background: var(--main-p3-color);
}
/*end menu bar items */

/* list items */
.item {
	background: var(--main-c1-color);
	font-size: 25px;
	color: var(--main-p3-color);
}
#listContainer {
	border: 1px solid white;
	text-align: left;
}
#listContainer span {
	border: 1px solid white;
	margin-left: 5%;
}
#itemNum {
	border: 1px solid white;
}
#voteCount {
	font-size: 25px;
	border: 1px solid white;
}
/*end list items */