html {
	--main-p1-color: #040f0f;
	--main-p2-color: #2d3a3a;
	--main-c1-color: #248232;
	--main-c2-color: #2ba84a;
	--main-p3-color: #fcfffc;
	height: 100vh;
}

body {
	background: var(--main-p1-color);
	height: 100vh;

	font: 14px 'Roboto', sans-serif;
}
#container {
	max-width: 800px;
	min-width: 480px;

}
.menuFonts {
	vertical-align: middle;
	text-align: center;
	line-height: 50px;
	font-size: 25px;	
}
.itemFonts {
	vertical-align: middle;
	text-align: center;
	line-height: 50px;
	font-size: 25px;
}
/* Menu bar Items*/
#header {
	background: var(--main-p2-color);
	height: 52px;
	border-radius: 4px 4px 0 0;
}
.menuTitle {
	font-size: 25px;
	color: var(--main-p3-color);
}
#username {
	font-size: 25px;
	color: var(--main-p3-color);
}
#signin {
	margin-left: 47px;
	font-size: 25px;
	color: var(--main-p3-color);
	background: var(--main-p2-color);
	border: none;
}
#signin:focus {
	color: aqua;
	outline: none;
} 
#ddiTwitter:hover {
	color: #00BFFF;
	font-weight: bold;
}
#ddiTwitter:focus {
	background: #00BFFF;
}
#ddiSignin:hover {
	color: green;
	font-weight: bold;
}
#ddiSignin:focus {
	background: green;
	font-weight: bold;
}
#ddiSignup:hover {
	color: blue;
	font-weight: bold;
}
#ddiSignup:focus {
	background: blue;
	font-weight: bold;	
}
#dropdownMenu {
	background: var(--main-p3-color);
}
/*end menu bar items */

/* list items */
.item {
	background: var(--main-c1-color);
	font-size: 25px;
	color: var(--main-p3-color);
}
#itemTitle {
	text-align: left;
}
#itemTitle span {
	margin-left: 5%;
}
#itemNum {
}
#voteCount {
	font-size: 25px;
}
/*end list items */

/* footer */
.footer{
	font-size: 30px;
	background: var(--main-p2-color);
	height: 50px;
	border-radius: 0 0 4px 4px;
}
#icons {
	color: var(--main-p1-color);
	text-align: right;
	font-size: 30px;
}
#icons a {
	color: inherit;
}
#github {
	
	margin-right: 6px;
}
#github:hover {
	color: yellow;
}
#codepen{
	margin-left: 6px;
}
#codepen:hover {
	color: yellow;
}
#author {
	text-align: left;
	color: var(--main-p1-color);
	font-size: 20px;
}
/* end footer */

